*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixeddiv{
    position: fixed;
    width: 300px;
    height: 30px;
    border: 4px solid green;
    left:500px;
}
h1{
    padding: 20px;
}
.div{
    width: 800px;
    height: 30px;
    border: 4px solid red;
    margin-left: 10px;
}
.stickydiv{
    position: sticky;
    top: 0;
    width: 110px;
    height: 100px;
    border: 4px solid blue;
    margin-left: 10px;
    background-color: white;
}
.relativediv{
    position: relative;
    width: 300px;
    height: 30px;
    border: 4px solid orange;
    left: 50px;
    margin-left: 10px;
}
.absolutediv{
    position: absolute;
    width: 300px;
    height: 30px;
    border: 4px solid purple;
}
.opacitydiv1{
    height: 30px;
    opacity: 0.1;
    margin-left: 10px;
    background-color: blue;
}
.opacitydiv2{
    height: 30px;
    opacity: 0.2;
    margin-left: 10px;
    background-color: blue;
}
.opacitydiv3{
    height: 30px;
    opacity: 0.3;
    margin-left: 10px;
    background-color: blue;
}
.opacitydiv4{
    height: 30px;
    opacity: 0.4;
    margin-left: 10px;
    background-color: blue;
}
.opacitydiv5{
    height: 30px;
    opacity: 0.5;
    margin-left: 10px;
    background-color: blue;
}